.userposts {
  list-style-type: none;
  padding: 0.3em;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 500px;
  margin: 0 auto;
  margin-top: 0.5em;
}

.userposts h3 {
  text-transform: capitalize;
}

.userposts img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  border-width: 10px solid;
  border-color: aliceblue;
  background-color: aliceblue;
  border: 5px solid #222;
}

.posthead {
  display: flex;
  border-top: 1px #777 solide;
  width: 100%;
  /* background-color: #222;
  color: #fff; */
  font-weight: bold;
  box-shadow: 1px 2px 10px #222;
}

a {
  text-decoration: none;
  color: #555;
  background-color: transparent;
  font-size: 1.3em;
}
a:hover {
  color: var(--azulPadrao);
  font-weight: bold;
}

p {
  margin-left: 10em;
  font-style: italic;
}
